	body {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    #LoginBody{
        background-image: url("/resources/images/eclipse.jpg");
    }
    #mainBody{
        background-image: url("/resources/images/desert_mountains.jpg");
    }

	.frame {
        padding: 10px 10px 10px 10px;
        margin-top: 60px;
        border: 1px solid black;
        border-radius: 5%;
        background-color: white;
    }
    .img-banner{
        padding: 5px 5px 5px 5px;
    }
    .buffer{
        margin-top: 10px;
    }
    .light{
        opacity: 80%;
    }
