.circle{
	width:100px;
	height:100px;
	padding:50px;
	border-radius:50%;
}

#shape {
	width:200px;
	height:200px;
	background-color:red;
	display:none;
	position:relative;
}

#timeDisplay {
	font-weight: bold;
}